{% assign education = data.education %}
{% if education and education.display %}
<section class="educations">
    <div class="section-title">
        {{ education.title }}
    </div>

    <div class="section-content">
        {% for graduation in education.items %}
        <section class="education">
            <div class="item">

                <div class="upper-row">
                    <div class="university">{{ graduation.university }}</div>
                    <div class="time">{{ graduation.time }}</div>
                </div>

                <div class="upper-row">
                    <div class="major">{{ graduation.major }}</div>
                    <div class="degree"><i class="fa-solid fa-graduation-cap"></i> {{ graduation.degree }}</div>
                </div>

                {% if graduation.link %}
                <div class="upper-row">
                    <div class="link"><a href="{{ graduation.link }}">{{ graduation.link }}</a></div>
                </div>
                {% endif %}

                {% if graduation.details %}
                <div class="details">
                    <div class="markdown">
                        {{ graduation.details | markdownify }}
                    </div>
                </div>
                {% endif %}

            </div>
        </section>
        {% endfor %}
    </div>
</section>
{% endif %}
